PCB_Macropad/Macropad_PCB/production/Keybloom_v1.0_bom.csv
PCB_Macropad/Macropad_PCB/production/Keybloom_v1.0_designators.csv
PCB_Macropad/Macropad_PCB/production/Keybloom_v1.0_positions.csv
PCB_Macropad/Macropad_PCB/production/Keybloom_v1.0.zip
PCB_Macropad/Macropad_PCB/production/netlist.ipc
PCB_Macropad/Macropad_PCB/production/backups/Keybloom_v1.0_2026-03-30_19-43-59.zip
PCB_Macropad/Macropad_PCB/fabrication-toolkit-options.json
PCB_Macropad/Macropad_PCB/fp-info-cache
PCB_Macropad/Macropad_PCB/Macropad_PCB.step
__pycache__/resources_rc.cpython-312.pyc
__pycache__/ui_functions.cpython-312.pyc
__pycache__/ui_keybloom.cpython-312.pyc
__pycache__/date_utils.cpython-312.pyc
__pycache__/key_capture.cpython-312.pyc
__pycache__/settings_manager.cpython-312.pyc
